@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600;700;800;900&display=swap');

body {
    background-color: rgb(0, 0, 0);
    font-family: 'Inter', sans-serif;
    font-weight: 900;
    color: rgb(255, 255, 255);
    text-align: center;
    width: 60%;
    margin: 0 auto;
}

header {
    display: flex;
    justify-content: center;
    height: 40px;
    margin-bottom: 20px;
}

#join {
    display: block;
    width: 15%;
    height: 100%;
    font-weight: 900;
    font-size: 15px;
    color: #fff;
    cursor: pointer;
    text-align:center;
    border: none;
    background-size: 300% 100%;
    border-radius: 50px;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    background-image: linear-gradient(
      to right,
      #f5ce62,
      #e43603,
      #fa7199,
      #e85a19
    );
}
  
#join:active {
    background-position: 100% 0;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}
  
#join:focus {
    outline: none;
}

#room-name {
    font-family: 'Inter', sans-serif;
    font-weight: 900;
    font-size: 15px;
    color: rgb(19, 19, 19);
    display: block;
    text-align: center;
    width: 40%;
    margin-right: 20px;
    border: none;
    border-radius: 50px;
    outline: none;
    box-sizing: border-box;
    transition: 0.3s;
}

footer {
    display: flex;
    width: 100%;
    height: 250px;
    margin: 20px auto 0 auto;
}

#memo-space {
    display: block;
    width: 49%;
    margin-right: 1%;
    padding: 10px;
    font-family: 'Inter', sans-serif;
    font-weight: 900;
    color: rgb(32, 32, 32);
    border: none;
    border-radius: 10px;
    outline: none;
    box-sizing: border-box;
    transition: 0.3s;
}


#game-canvas {
    width: 100%;
    text-align: center;
    background-color: rgb(158, 158, 158);
    color: rgb(0, 0, 0);
    padding: 250px 0;
    margin: 0 auto;
}

#button-area {
    width: 50%;
    display: flex;
    justify-content: left;
    flex-direction: row-reverse;
    overflow: hidden;
}

#button-area button {
    display: block;
    min-width: calc(100% / 6 - 1%);
    max-width: calc(100% / 6 - 1%);
    margin-left: 1%;
    height: 100%;
}

#remote-media-area {
    background-color: black;
}

#audio-check {
    width: 10px;
    background-color: aquamarine;
}

